DAG-CBOR: Why breaking existing tags?

DAG-CBOR spec says disallows using any other CBOR tag than 42 for CIDs:

> Use no tags other than the CID tag (42). A valid DAG-CBOR encoder must not encode using any additional tags and a valid DAG-CBOR decoder must reject objects containing additional tags as invalid.
> This includes any of the well defined tag numbers listed [section 3.4 of RFC 8949](https://tools.ietf.org/html/rfc8949#section-3.4), such as dates, bignums, bigfloats, URIs, regular expressions and other complex, or simple values whether or not they map to the [IPLD Data Model](https://ipld.io/docs/data-model/).

 I couldn't find any explanation as for why this restriction is necessary.

So these things apply to most of the items in the "Strictness" section, perhaps it could be documented better somewhere, maybe directly in the spec:

1. To have a clean and stable mapping to the IPLD Data Model - which doesn't support many of the kinds introduced by tags (e.g. dates and times)
2. To reduce the space within which you can encode the same data into different bytes - an ideal IPLD codec would have a single way to do this and you can see in the strictness section the attempt to reduce the optionality. If we allowed integers to be encoded as majors 0 & 1 _as well as_ bignums, and perhaps other botique tags that can map to integers, then we expand the ways that the same data, when presented in-memory in the IPLD data model, would produce different bytes and therefore different hash digests (& CIDs). This is a desirable property for many systems for various reasons, although there are also many cases where this doesn't matter. I'd still like to get this thread into docs in some form to look at the various use-cases for content addressing and you can see from many of the items in the list that this same-data <> same-bytes property is desirable, and sometimes critical.
3. To reduce the complexity on implementations - DAG-CBOR is in use across many languages and we need to ensure that they all work in the same way, producing the right bytes for the same data when encoding according to spec. If we have to also introduce the range of tags that the CBOR spec covers and possibly others in the registry, then we increase the burden on maintainers, we increase the complexity of the fixtures we need to maintain, and we just generally expand the workload on the core of IPLD just to provide questionable utility.

We do have a `cbor` (`0x51`) in the multicodec table that's just generic CBOR. We don't have a clear spec on what this means, although go-ipfs is going to get very picky if you try and load a CBOR block that has custom tags in it, but you could plug in your own decoder to handle whatever you like for it. Currently `0x51` is a wild-west that could conceivably include anything within the CBOR spec and tag registry (and maybe other whacky things beyond). So if you really wanted tags, then you could go with `0x51` and handle codecs in your system yourself.

Does that answer your question? Do you think this might be useful to discuss in the spec itself?

_(edited my last comment to add a link where I intended to "this thread": https://github.com/ipld/specs/issues/305)_